.card {
  box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;

  &.card-project {
    .card-header {
      padding: 10px;

      h4 {
        color: #fff;
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 25.6px;
      }
    }

    .card-body {
      padding: 10px;

      .description {
        font-size: 16px;
        color: #2a3547;
        line-height: 21.3px;
        margin: 8px 0;
        font-weight: 600 !important;
      }

      .start-date,
      .update-date {
        font-size: 12px;
        line-height: 21.35px;
        margin-bottom: 0;
      }
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      min-height: 52px;
      padding: 8px;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #e5eaef;

      .btn-start-project {
        cursor: pointer;
        border-radius: 7px;
        color: #000;
        padding: 0 8px 0 8px;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-width: 64px;
        height: 38px;
        border: none;
        outline: none;
        line-height: inherit;
        user-select: none;
        --webkit-appearance: none;
        overflow: visible;
        vertical-align: middle;
        background: rgba(0, 0, 0, 0.02);
        width: 100%;

        &:hover {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
