#description {
  border-right: 1px solid rgb(229, 234, 239);
}


.description {
  font-size: 16px;
  color: #2a3547;
  line-height: 21.3px;
  margin: 8px 0;
  font-weight: 600 !important;
}

.start-date,
.update-date {
  font-size: 12px;
  line-height: 21.35px;
  margin-bottom: 0;
}
