$color_1: var(--bs-blue, #5d87ff);
$background-color_1: #fff;

input,
textarea {
  width: 25rem;
  border: 2px solid var(--bs-blue, #5d87ff);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  outline: none;

  &:focus~p {
    transform: translateY(-35px);
  }

  &:valid~p {
    transform: translateY(-35px);
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: $color_1;
  font-size: 20px;
}

.p-textarea {
  top: 26%;
}


p {
  pointer-events: none;
  position: absolute;
  padding: 0 0.5rem;
  top: 40%;
  margin-left: 0.8rem;
  transform: translateY(-10px);
  color: $color_1;
  background-color: $background-color_1;
  font-size: 0.95rem;
  transition: all 0.5s;
  margin-bottom: 0;
}
