<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Login - SyncFlow</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div class="form-group">
              <label for="username">Nome de Usuário:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                [(ngModel)]="username"
                placeholder="Informe seu nome de usuário"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Senha:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="password"
                placeholder="Informe sua senha"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
