<header class="app-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item d-block d-xl-none">
        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse">
          <ng-icon name="heroBars3"></ng-icon>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link nav-icon-hover">
          <ng-icon name="heroBellAlert"></ng-icon>
          <div class="notification bg-primary rounded-circle"></div>
        </a>
      </li> -->
    </ul>
    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
      <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon-hover nav-icon-profile" id="drop2" data-bs-toggle="dropdown"
            aria-expanded="false">
            <ng-icon name='heroUserCircle'></ng-icon>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
            <div class="message-body">
              <!-- <a class="d-flex align-items-center gap-2 dropdown-item" (click)='goToProfile()'>
                <i class="ti ti-user fs-6"></i>
                <p class="mb-0 fs-3">My Profile</p>
              </a>
              <a class="d-flex align-items-center gap-2 dropdown-item">
                <i class="ti ti-list-check fs-6"></i>
                <p class="mb-0 fs-3">My Task</p>
              </a> -->
              <a (click)='logout()' class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
