.nav-icon-profile {
  border: 1px solid var(--bs-info-bg-subtle);
  background-color: #9bb3f9;
  color: #fff;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  padding: 0;
  margin: auto;
  justify-content: center;
}
